---
---

@font-face
  font-family: 'Ubuntu'
  font-style: normal
  font-weight: 400
  src: local('Ubuntu'), url(vendor/ubuntu-font-family/Ubuntu-R.ttf) format('truetype')

@font-face
  font-family: 'Ubuntu'
  font-style: normal
  font-weight: 700
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(vendor/ubuntu-font-family/Ubuntu-M.ttf) format('truetype')


@font-face
  font-family: 'Ubuntu Mono'
  font-style: normal
  font-weight: 400
  src: local('Ubuntu'), url(vendor/ubuntu-font-family/UbuntuMono-R.ttf) format('truetype')

@font-face
  font-family: 'Ubuntu Mono'
  font-style: normal
  font-weight: 700
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(vendor/ubuntu-font-family/UbuntuMono-B.ttf) format('truetype')

body
  font-family: 'Ubuntu'

.navbar-default
  height: 43px
  min-height: 43px
  .current-network
    font-variant: small-caps
    font-weight: bold
    font-size: large
  .navbar-brand-main
    color: #000
    font-weight: bold
    font-size: x-large
    font-family: 'Ubuntu Mono'
    font-variant: small-caps

  .navbar-network
    color: #000

  @media (max-width: 768px)
    .navbar-brand-main
      display: none

    .navbar-network
      margin: 0
      width: 60%
      .current-network
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        width: 150px
        display: inline-block

  .navbar-brand
    padding: 10px 5px 0 0
    margin-left: 0 !important

  .navbar-network
    span
      display: inline-block
      padding: 0
    .glyphicon
      top: 7px
  .navbar-refresh
    margin-top: 5px

#stations-filter
  height: 60px

  .search
    display: none

  .btn-reset
    display: none
    cursor: pointer
    pointer-events: all

  .affix
    z-index: 1030
    top: 0
    padding-top: 5px
    height: 45px
    width: 100%
    background-color: #fff
    border-bottom: 1px solid #ddd

  .shortcuts
    @media (max-width: 768px)
      width: 100%
      white-space: nowrap
      overflow-y: hidden
      overflow-x: scroll
      -webkit-overflow-scrolling: touch

    .tags
      button
        font-weight: bold
        border-radius: 0


#stations
  .panel
    .panel-title, .current-network
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden

    .panel-title a
      text-shadow: 0px 0px 1px #fff

    .panel-heading:nth-child(n+2)
      border-top: 1px solid #ddd

  .station
    .panel-heading
      padding-left: 5px
    .panel-body
      padding: 5px 10px

    .progress
      margin-bottom: 5px
      .progress-bar
        font-size: medium

      .progress-bar-transparent
        background: transparent
        color: #AAA

    .panel.station-tags
      margin-bottom: 0

  .gold-star
    color: #FFD700
    text-shadow: 0px 0px 1px #333

  .btn-action
    padding: 0
    font-size: large

  .action-edit
    opacity: .2

.footer .glyphicon-heart
  color: #FFC300
  text-shadow: 0px 0px 1px #333

.modal
  position: absolute

@-webkit-keyframes spin
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)

.spin
  -webkit-animation: spin 2s infinite linear
