<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <!-- vendor assets -->
  <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="vendor/lunr.js/lunr.min.js"></script>
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">

  <!-- app assets -->
  <script src="/main.js"></script>
  <link rel="stylesheet" href="/main.css">

</head>
