<div class="modal fade" id="networks" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <form>
          <input type="search" class="modal-title form-control input-lg" placeholder="City, company, service...">
        </form>
      </div>
      <div class="modal-body">
        <div class="list-group">
        </div>
      </div>
    </div>
  </div>
</div>
