<div class="container" id="stations-search" data-spy="affix" data-offset-top="60">
  <div class="form-group row">
    <div class="input-group col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
      <input type="search" class="form-control" placeholder="Station, address..." autofocus>
    </div>
  </div>
</div>

<div class="container" id="stations">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h3 class="panel-title">
        <i class="glyphicon glyphicon-star gold-star" alt="starred"></i>
      </h3>
    </div>
    <div id="stars" class="panel-body row">
      <div class="glyphicon glyphicon-refresh activity-indicator text-center col-md-12" alt="Refresh"></div>
    </div>
    <div class="panel-heading text-center">
      <h3 class="panel-title">
        <i class="glyphicon glyphicon-globe" alt="starred" style="color: grey"></i>
      </h3>
    </div>
    <div id="all" class="panel-body row">
      <div class="glyphicon glyphicon-refresh activity-indicator text-center col-md-12" alt="Refresh"></div>
    </div>
  </div>
</div>
