<div id="stations-filter">
  <div data-spy="affix" data-offset-top="72">
    <div class="container">
      <div class="form-group has-feedback search">
        <div class="row">
          <div class="col-md-1 col-xs-2">
            <button class="btn btn-default btn-action" data-action="filterBy" data-id="shortcuts">
              <i class="glyphicon glyphicon-tags"></i>
            </button>
          </div>
          <span class="input-group col-md-10 col-xs-9">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-search"></i>
            </span>
            <form>
              <input type="search" class="form-control" placeholder="Station, address..." autofocus>
            </form>
            <span class="glyphicon glyphicon-remove form-control-feedback btn-action btn-reset" data-action="setFilter"></span>
          </span>
        </div>
      </div>
      <div class="btn-group shortcuts" role="toolbar">
        <button class="btn btn-default btn-action" data-action="filterBy" data-id="search">
          <i class="glyphicon glyphicon-search"></i>
        </button>
        <button class="btn btn-primary btn-action" data-action="shortcuts">
          <i class="glyphicon glyphicon-pencil"></i>
        </button>
        <span class="tags">
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container" id="stations">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h3 class="panel-title">
        <i class="glyphicon glyphicon-star gold-star" alt="starred"></i>
      </h3>
    </div>
    <div id="stars" class="panel-body row">
      <div class="glyphicon glyphicon-refresh activity-indicator text-center col-md-12" alt="Refresh"></div>
    </div>
    <div class="panel-heading text-center">
      <h3 class="panel-title">
        <i class="glyphicon glyphicon-globe" alt="starred" style="color: grey"></i>
      </h3>
    </div>
    <div id="all" class="panel-body row">
      <div class="glyphicon glyphicon-refresh activity-indicator text-center col-md-12" alt="Refresh"></div>
    </div>
  </div>
</div>
